table{
    border-collapse: collapse;
  padding: 25px;
  margin: auto;
  width: 50%;
  height: 400px;
  text-align: center;
  font-size: 35px;
  box-shadow: 45px 40px 50px;
    
}
thead{
    background-color: orange;
    text-shadow: 5px 5px 10px;
    /* border: 2px solid; */


}
.a ,.c ,.f{
    background-color: gray;
    color: white;
}

.b,.d{
    background-color: black;
    color: white;
}
h1{
    color: black;
    font-size: 50px;
    text-align: center;
    text-shadow: 10px 5px 15px;
}