*{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
  padding: 25px;
  margin: auto;
  width: 50%;
  height: 400px;
  text-align: center;
  font-size: 35px;
  box-shadow: 45px 40px 50px;
    
}
thead{
    background-color: orange;
    text-shadow: 5px 5px 10px;
    /* border: 2px solid; */


}
.a ,.c ,.f{
    background-color: gray;
    color: white;
}

.b,.d{
    background-color: black;
    color: white;
}
h1{
    color: black;
    font-size: 50px;
    text-align: center;
    text-shadow: 10px 5px 15px;
}



header {
    border: solid 5px;
    height: 60px ;
    width: 100%;
    background-color: orange;
}
nav ul  li {
    
    display: inline;
    list-style: none;
    
}
nav ul {
    text-align: center;
    padding-top:15px ;
}
 nav ul a {
    font-weight: bold;
    color: black;
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
 }
 nav ul li{
    padding: 50px;
 }